body{
  background: #fff;
}
.headerImageContainer{

}
.headerImageContainer h1{
  text-align: center;
  margin:0 auto;
  text-indent: -9999px;
  background: url('../images/header.png');
  width:452px;
  height:135px;
}

.mappingContainer{
  border:solid 1px #f0f0f0;
  margin: 0 40px;
  max-width: 960px;
  background: #fff;
  font-family: Arial;
  position: relative;
}

.mappingContainer:after {
  z-index: -1;
  position: absolute;
  content: "";
  top: 0px;
  right: 15px;
  width: 50%;
  height: 100px;
  max-width: 300px;
  background: #959595;
  -webkit-box-shadow: 15px 0px 10px #959595;
  -moz-box-shadow: 15px 0px 10px #959595;
  box-shadow: 15px 0px 10px #959595;
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  -webkit-border-top-left-radius: 199px;
  -moz-border-radius-topleft: 199px;
  border-top-left-radius: 199px;
  width: 70px;
}

.mappingContainer:before {
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 0px;
  width: 50%;
  top: 80%;
  width: 100px;
  background: #959595;
  -webkit-box-shadow: 0 15px 10px #959595;
  -moz-box-shadow: 0 15px 10px #959595;
  box-shadow: 0 15px 10px #959595;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
  -webkit-border-top-left-radius: 199px;
  -moz-border-radius-topleft: 199px;
  border-top-left-radius: 199px;
}

/*TABS*/
#tabs {
  padding: 0 0 0.3em 0;
  height:100px;
}
#tabs .tab {
  display: block;
  float: left;
  padding: 0px;
  margin: 0px;
  width: 20%;
  border-right: 1px solid #e8e8e8;
  box-sizing: border-box;
  position: relative;
  height:100%;
  background-color: #f4f4f4;
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-position:center 17px;
 }

 #tabs .tab:last-child {
/*  border: none;
  background-position: 50% 50%;
  -moz-box-shadow: 0px 0px 1px 1px #ccc;
  -webkit-box-shadow: 0px 0px 1px 1px #ccc;
  box-shadow: 0px 0px 1px 1px #ccc;*/
 }

#tabs #topCity {
  background-image: url('../images/phone-icon-hi.png');
}
#tabs #populated{
    background-image: url('../images/phone-icon-hi.png');
}
#tabs #density{
    background-image: url('../images/phone-icon-hi.png');
}
#tabs #rainSnow{
    background-image: url('../images/phone-icon-hi.png');
}
#tabs #allConditions{
    background-image: url('../images/phone-icon-hi.png');
}
#tabs .tab.selected {
  background-color: #fff;
}
#tabs .tab .title {
  color: #666;
  text-decoration: none;
  text-align: center;
  margin-top: 55px;
  font-size: 13px;
}

/*TAB BOTTOM COLOR*/
  #tabs .bottomColor{
    height:7px;
    width: 100%;
    position: absolute;
    bottom:0;
  }
  #tabs #topCity .bottomColor{background-color: #0096d6;}
  #tabs #populated .bottomColor{background-color: #01b3ad;}
  #tabs #density .bottomColor{background-color: #e6527a;}
  #tabs #rainSnow .bottomColor{background-color: #6d5dc9;}
  #tabs #allConditions .bottomColor{background-color: #ee8722;}
/**********END TAB BOTTOM COLOR*/

/*TAB CONTENT*/
.tabContentContainer{
  height:630px;
}
div.tabContent {
  padding:0 0.5em;
  background-color: #fff;
  min-height: 100%;
  margin-bottom: 90px;
}
div.tabContent.hide {
  display: none;
}

div.tabContent .tabContentMap{
  width:75%;
  float:left;

}
/*TAB CONTENT OTHER*/
div.tabContent .tabContentOther{
  width:25%;
  float:right;
  border-left: 1px solid #f0f0f0;
  box-sizing:border-box;
  height: 100%;
}
div.tabContent .tabContentOther .header{
  padding:30px;
  border-bottom: solid 1px #ececec;
  height: 25%;
  position: relative;
  box-sizing:border-box;
}
  div.tabContent .tabContentOther .header .headingContainer {}
  div.tabContent .tabContentOther .header .headingContainer:before{
    content: "";
    background-image: url('../images/phone-icon-hi.png');
    background-color: #f4f4f4;
    background-size: 30px 30px;
    background-repeat: no-repeat;
    height: 30px;
    width: 30px;
    float: left;
  }
  div.tabContent .tabContentOther .header .headingContainer h4{}
  div.tabContent .tabContentOther .header .headingContainer h3{}
  div.tabContent .tabContentOther .header p {
    position: absolute;
    bottom: 30px;
    font-size: 14px;
  }

  div.tabContent .tabContentOther .toplistings{
    padding:30px;
    box-sizing:border-box;
    height: 75%;
    overflow: scroll;
  }
  div.tabContent .tabContentOther .toplistings ul {
    
  }
  div.tabContent .tabContentOther .toplistings ul li{
    line-height: 30px;
    font-size: 15px;
    height: 40px;
  }
  div.tabContent .tabContentOther .toplistings ul li:before{
    content: "";
    background-image: url('../images/marker.png');
    background-image: url('../images/marker.svg');
    background-size: contain;
    background-color: transparent;
    background-repeat: no-repeat;
    height: 33px;
    width: 23px;
    margin-right: 10px;
    float: left;
  }
  /*********END TAB CONTENT OTHER*/
/*********END TAB CONTENT*/



/*SCALEBAR*/
.scalebar{
  margin-top:30px;
}
/********END SCALEBAR*/

/*SOCIAL*/
.socialContiner{
  margin-top:30px;
}
.socialContiner img{
  float:right;
}
/********END SOCIAL*/
