body{
  background: #fff;
  font-family: 'Open Sans', sans-serif;
}

.headerImageContainer h1{
  text-align: center;
  margin:0 auto;
  text-indent: -9999px;
  background: url('../img/map/header.png');
  width:452px;
  height:135px;
}

.mappingContainer{
  border:solid 1px #f0f0f0;
  max-width: 960px;
  background: #fff;
  font-family: Arial;
  position: relative;
}

.mappingContainer:after {
  z-index: -1;
  position: absolute;
  content: "";
  top: 0px;
  right: 15px;
  width: 50%;
  height: 100px;
  max-width: 300px;
  background: #959595;
  -webkit-box-shadow: 15px 0px 10px #959595;
  -moz-box-shadow: 15px 0px 10px #959595;
  box-shadow: 15px 0px 10px #959595;
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  -webkit-border-top-left-radius: 199px;
  -moz-border-radius-topleft: 199px;
  border-top-left-radius: 199px;
  width: 70px;
}

.mappingContainer:before {
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 0px;
  width: 50%;
  top: 80%;
  width: 100px;
  background: #959595;
  -webkit-box-shadow: 0 15px 10px #959595;
  -moz-box-shadow: 0 15px 10px #959595;
  box-shadow: 0 15px 10px #959595;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
  -webkit-border-top-left-radius: 199px;
  -moz-border-radius-topleft: 199px;
  border-top-left-radius: 199px;
}

/*TABS*/
#tabs {
  /*padding: 0 0 0.3em 0;*/
  height:100px;
}
#tabs .tab {
  display: block;
  float: left;
  padding: 0px;
  margin: 0px;
  width: 20%;
  border-right: 1px solid #e8e8e8;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
  position: relative;
  height:100%;
  background-color: #f4f4f4;
  background-size: 70px 70px;
  background-repeat: no-repeat;
  background-position:center 5px;
  cursor: pointer;
 }

 #tabs .tab:last-child {
/*  border: none;
  background-position: 50% 50%;
  -moz-box-shadow: 0px 0px 1px 1px #ccc;
  -webkit-box-shadow: 0px 0px 1px 1px #ccc;
  box-shadow: 0px 0px 1px 1px #ccc;*/
 }

#tabs #topCity {
    background-image: url('../img/map/topCities_Gray.png');
    background-position: center top;
  }
#tabs #topCity.selected, .icon.topCity{
  background-image: url('../img/map/topCities_Active.png');
  background-position: center top;
}
#tabs #populated{
  background-image: url('../img/map/populated_Gray.png');
  background-position: center top;
}
#tabs #populated.selected, .icon.populated{
  background-image: url('../img/map/populated_Active.png');
  background-position: center top;
}
#tabs #density{
  background-image: url('../img/map/density_Gray.png');
  background-position: center top;
}
#tabs #density.selected, .icon.density{
  background-image: url('../img/map/density_Active.png');
  background-position: center top;
}
#tabs #rainSnow{
  background-image: url('../img/map/rainSnow_Gray.png');
  background-position: center top;
}
#tabs #rainSnow.selected, .icon.rainSnow{
  background-image: url('../img/map/rainSnow_Active.png');
  background-position: center top;
}
#tabs #allConditions{
  background-image: url('../img/map/allConditions_Gray.png');
  background-position: center top;
}
#tabs #allConditions.selected, .icon.allConditions{
  background-image: url('../img/map/allConditions_Active.png');
  background-position: center top;
}

#tabs .tab.selected {
  background-color: #fff;
}
#tabs .tab .title {
  color: #666;
  text-decoration: none;
  text-align: center;
  margin-top: 63px;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
}

/*TAB BOTTOM COLOR*/
  #tabs .bottomColor{
    height:7px;
    width: 100%;
    position: absolute;
    bottom:0;
  }
  #tabs #topCity .bottomColor{background-color: #0096d6;}
  #tabs #populated .bottomColor{background-color: #01b3ad;}
  #tabs #density .bottomColor{background-color: #e6527a;}
  #tabs #rainSnow .bottomColor{background-color: #6d5dc9;}
  #tabs #allConditions .bottomColor{background-color: #ee8722;}
/**********END TAB BOTTOM COLOR*/

/*TAB CONTENT*/
.tabContentContainer{
  height:630px;
}
div.tabContent {
  padding:0 0 0 0.0em;
  background-color: #fff;
  min-height: 100%;
  margin-bottom: 35px;
  position: relative;
}
div.tabContent.hide {
  display: none;
}

div.tabContent .tabContentMap{
  width:75%;
  float:left;
  position: relative;
}
/*ZOOM LEVEL CONTROLS*/

.timeLine-SocialContainer{
  width:100%;
  padding-top:35px;
}

div.tabContent .tabContentMap .jvectormap-zoomin, div.tabContent .tabContentMap .jvectormap-zoomout{
  background: #fff;
  color: #0096d6;;
  border:solid 1px #e3e3e3;
  top:auto;
  left:auto;
  right:20px;
  border-radius: 0px;
  font-size: 16px;
  z-index: 10;
}
div.tabContent .tabContentMap .jvectormap-zoomin{bottom:155px;}
div.tabContent .tabContentMap .jvectormap-zoomout{bottom:20px;}

.zoom-bar-wrapper {
  position: absolute;
  right: 26px;
  bottom: 38px;
  height: 118px;
  width: 4px;
  z-index: 8;
  background: #fff;
  border-left: 1px solid #e3e3e3;
  border-right: 1px solid #e3e3e3;
}
#zoom-bar {
  height: 83%;
  width: 100%;
  background: transparent;
  position: absolute;
  z-index: 900;
  border: none;
  top: 15%;
  bottom: 0;
}
#zoom-bar span{
  width: 15px;
  height: 15px;
  border-radius: 300px;
  position: absolute;
  bottom: 7px;
  left: -5px;
  margin: 0 auto;
  background:#0096d6;
  border: none;
  outline-width: 0;
}
.zoom-tick {
  width: 15px;
  height: 3px;
  position: absolute;
  left: 0;
  left: -5px;
  background: #ccc;

}
.zoom-tick:nth-child(1) {
  top: -10px;
}

.zoom-tick:nth-child(2) {
  top: 22px;
}

.zoom-tick:nth-child(3) {
  bottom: 38px;
}
.zoom-tick:nth-child(4) {
  bottom: 8px;
}


/*TAB CONTENT OTHER*/
div.tabContent .tabContentOther{
  width:25%;
  float:right;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
  height: 100%;
}
div.tabContent .tabContentOther .listingHeader{
  border-left: 1px solid #f0f0f0;
  padding: 30px 10px 30px 15px;
  border-bottom: solid 1px #ececec;
  height: 195px;
  position: relative;
  font-family: 'Open Sans', sans-serif;
  color: #666;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}
  div.tabContent .tabContentOther .listingHeader .headingContainer {}
  div.tabContent .tabContentOther .listingHeader .headingContainer .icon{
    background-repeat: no-repeat;
    height: 70px;
    width: 70px;
    float: left;
  }

  div.tabContent .tabContentOther .listingHeader .headingContainer h4{
    color:#666;
    font-size:15px;
    font-weight: 600;
    line-height: 22px;
    padding-top: 7px;
  }
  div.tabContent .tabContentOther .listingHeader .headingContainer h4{
    color:#666;
    font-size:15px;
    font-weight: 600;
    line-height: 22px;
    padding-top: 7px;
  }
  div.tabContent .tabContentOther .listingHeader .headingContainer h3{
    color:#666;
    font-size:17px;
    font-weight: 600;
    line-height: 21px;
    margin-bottom: 12px;
  }
  div.tabContent .tabContentOther .listingHeader p {
   /* position: absolute;
    bottom: 30px;*/
    font-size: 12px;
    margin-top: 0px;
    float: left;
    padding: 0 22px;
    /*font-family: 'Open Sans', sans-serif;*/

  }

  div.tabContent .tabContentOther .toplistings{
    border-left: 1px solid #f0f0f0;
    padding:10px 0;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    height: 435px;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  div.tabContent .tabContentOther .toplistings ul {
    
  }
  div.tabContent .tabContentOther .toplistings ul li{
    list-style-type: none;
    line-height: 30px;
    font-size: 15px;
    height: 40px;
    padding: 5px 15px 5px 30px;
    font-family: 'Open Sans', sans-serif;
    color:#333;
    font-weight: 600;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
  }

  div.tabContent .tabContentOther .toplistings ul li:hover, div.tabContent .tabContentOther .toplistings ul li.active{
    cursor:pointer;
    background: #F6F6F6;
  }
  div.tabContent .tabContentOther .toplistings ul li p{
    margin-top: 0px;
    overflow: hidden;
    line-height: 25px;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  div.tabContent .tabContentOther .toplistings ul li svg{
    content: "";
    background-image: url('../img/map/marker.png')\9;
    background-size: contain;
    background-color: transparent;
    background-repeat: no-repeat;
    height: 33px;
    width: 23px;
    margin-right: 10px;
    float: left;
    color: #fff;
    text-align: center;
    font-size: 10px;
  }
  .tabContentOther .toplistings ul li svg path{
    fill:#0096d6;
  }
  /*********END TAB CONTENT OTHER*/
/*********END TAB CONTENT*/



/*SCALEBAR*/
.sliderContainer{
  width: 75%;
  float:left;
}
#slider .ui-slider-tick-mark:nth-child(2) {
  left: 0 !important;
  height:25px;
  top:-10px;
}
.sliderContainer #slider{
  height:5px;
  width:100%;
  width: 100%;
  margin:0px;
  background: #0096d6;
  border: #0096d6;
  border-radius: 0px;
}
.sliderContainer #slider.disabled{
  background: #f1f1f1;
  border: #f1f1f1;
}
.sliderContainer #slider.disabled a{
  background: #f1f1f1;
  border: #f1f1f1;
}
.sliderContainer #slider a{
  border: 1px solid #0096d6;
  background: #0096d6;
  width: 0.7em;
  height: 0.7em;
  margin-top: 1px;
  outline-width: 0;
}
.ui-slider-tick-mark {
  display:inline-block;
  width:4px;
  background:#0096d6;
  height:10px;
  position:absolute;
  top:0px;
}
div#slider.ui-slider.ui-slider-horizontal.ui-widget.ui-widget-content.ui-corner-all.ui-state-disabled.ui-slider-disabled{
  background:#f1f1f1;
}
.ui-state-disabled a.ui-slider-handle.ui-state-default.ui-corner-all{
    background:#f1f1f1 !important;
    border: 1px solid #f1f1f1 !important;
}
.ui-slider-disabled .ui-slider-tick-mark{
    background:#f1f1f1;
}
.timeLineCopyContainer{
  position:relative;
  padding-top: 15px;
}
.timeLineCopyContainer .startYear, .timeLineCopyContainer .endYear{
  position: absolute;
  top:25px;
}
.timeLineCopyContainer .copy{
  text-align: center;
  padding: 10px 150px;
}
.timeLineCopyContainer .startYear{
  left:-5px;
}
.timeLineCopyContainer .endYear{
  right:-5px;
}
.timeLineCopyContainer.disabled{
  color: #f1f1f1;
}
/********END SCALEBAR*/

/*SOCIAL*/
.socialContiner{
  float:right;
  width:25%;
  height:110px;
}
.socialContiner img{
  float:right;

}
.socialContiner #pageShare{
  float:right;

}
/********END SOCIAL*/



/*MODAL*/
.ui-blocker {
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  display: none;
  z-index: 0;
}
.modal {
  position: absolute;
  top: 21%;
  bottom: 27%;
  left: 20%;
  right: 40%;
  background-color: #fff;
  display: none;
  z-index: 10;
}
.tabContentMap.show-modal .modal, .tabContentMap.show-modal .ui-blocker {
  display: block;
}

.modalContainer{
  background-color: #fff;
  font-family: 'Open Sans', sans-serif;
}
.modalContainer .close{
  background-image:url('../img/map/modal_close.png');
  background-repeat:no-repeat;
  background-size: contain;
  height:12px;
  width:12px;
  position: absolute;
  cursor: pointer;
  top: 15px;
  right:15px;
}

.modalContainer .cityContainer{padding:10px 15px;}
.modalContainer .cityContainer .cityName{color:#333333; font-size:18px; font-weight:700; text-transform:uppercase; font-family: 'Open Sans', sans-serif;
  margin-top: 0px;
  margin-bottom: 0px;
}
.modalContainer .cityContainer .cityRank{margin-top: 0px;color:#333333; font-size:14px; font-weight: 600; padding-top: 4px;}
.modalContainer .cityContainer .cityRank span{color:#333333;font-weight:700;}

.modalContainer .rankings{border-top:solid 1px #ececec;border-bottom:solid 1px #ececec;padding: 15px;}
.modalContainer .rankings .modalHeader{color:#535353; font-weight: 600; font-family:'Open Sans', sans-serif;font-size:14px; margin-bottom: 10px;}
.modalContainer .rankings .section{color:#929292; font-weight:400;font-family:'Open Sans',sans-serif; font-size: 13px;line-height: 30px; height:30px;}
.modalContainer .rankings .section h2{width:70%; float:left; font-size: 13px;
margin-top:0px; margin-bottom:0px; color:#929292;}

.modalContainer .rankings .section h2.numRank{
  float: right;
  width: auto;
  text-align: left;
  min-width: 23px;
  font-weight: 600;
}
.modalContainer .rankings .section h2.numRank span{font-size:100%;}
.modalContainer .rankings .section h2.numRank span.ordinal{vertical-align: super; font-size: 50%;}

/*colors*/
.modalContainer .rankings .topCities .numRank{color:#0096d6;}
.modalContainer .rankings .populated .numRank{color:#01b3ad;}
.modalContainer .rankings .density .numRank{color:#e6527a;}
.modalContainer .rankings .rainSnow .numRank{color:#6d5dc9}
.modalContainer .rankings .allConditions .numRank{color:#ee8722;}


.modalContainer .shareContainer{padding: 15px 15px 0;}
.modalContainer .shareContainer h2{margin-top: 0px; color:#333333;width:100%;font-family:'Open Sans',sans-serif; font-weight:600;font-size:11px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; margin-bottom: 6px; line-height: 15px;}


/********END MODAL*/

/*jvectormap-container style overrides*/
.jvectormap-container svg g text {
  pointer-events:none;
  cursor:pointer;
}
.jvectormap-container svg g circle {
  cursor:pointer;
}
.panned-to {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  font-family: 'Open sans';
}
.labelSvg {
  background-color: #000;
  padding: 20px;
}

.commentContainer{
  float: left;
  margin-top: 10px;
  margin-bottom:30px;
}
.commentContainer p{
  font-family: 'Open Sans',sans-serif;
  font-size: 16px;
  line-height: 28px;
}
.safest{
  font-family: 'Open Sans',sans-serif;
  font-size: 15px;
  line-height: 22px;
}
.ruler{
  margin: 20px 0 50px;
  clear:both;
  width:100%;
  border-top:solid 1px #dadada;
}
div.jvectormap-label{
  border: solid 2px rgb(0, 118, 167);
  background-color: #fff;
  padding:3px;
  color: #000;
  border-radius: 0px;
  font-weight: 500;
  font-size: 12px;
  font-family: 'Open sans';
}

#pageShare .gig-share-button *, #cityShare .gig-share-button *{
  background-image:none !important;
}
#cityShare .gig-share-button, #pageShare .gig-share-button {
  background-image:url('../img/icons/share.png');
  min-width: 66px;
  background-repeat: no-repeat;
}
#cityShare .gig-button-text, #pageShare .gig-button-text {
  opacity: 0;
}



